/* Custom CSS for adding style to our Glitch popup */
/*a:link, a:visited,a:hover,a:active{
	color: #6f5499;
}*/
.drop{
	margin:auto;
	display:block;
}

p,h1,h3{
	text-align: center;
	margin: auto;
}
input{
	border-radius: 10px;
	margin: auto;
	display: block;
}
.btn-primary-outline, .btn-success-outline, .btn-warning-outline{
	display: block;
	margin:auto;
}
.btn-primary-outline, .btn-primary-outline:link, .btn-primary-outline:visited {
    background-color: transparent;
    border-radius: 5px;
    color: #454869;
    border: 2px solid #454869;
}
.btn-primary-outline:active, .btn-primary-outline:hover {
    background-color: #454869;
    color: #fff
}
.btn-success-outline, .btn-success-outline:link, .btn-success-outline:visited {
    background-color: transparent;
    border-radius: 5px;
    color: #009900;
    border: 2px solid #009900;
}
.btn-success-outline:active, .btn-success-outline:hover {
    background-color: #009900;
    color: #fff
}
.btn-warning-outline, .btn-warning-outline:link, .btn-warning-outline:visited {
    background-color: transparent;
    border-radius: 5px;
    color: #990000;
    border: 2px solid #990000;
}
.btn-warning-outline:active, .btn-warning-outline:hover {
    background-color: #990000;
    color: #fff
}
body{
	width: 380px;
	background-color: #b1b6c9;
}
li{
	display: block;
	margin: auto;
}

/*.dropdown-menu, .dropdown-menu:link, .dropdown-menu:visited {
    background-color: transparent;
    border-radius: 0;
    color: #6f5499;
    border: 2px solid #6f5499;
}
.dropdown-menu:active, .dropdown-menu:hover {
    background-color: #6f5499;
    color: #fff
}*/

h1 {
    color: #013274;
    text-align: center;
    font-family: Palatino;
    font-size: 4em;
}

h3 {
    color: #00abe3;
	font-family: Century Gothic;
}

p {
    color: #00abe3;
	font-family: Century Gothic;
}
.notes{
	text-align: left;
}


/* Bright color palette:
Dark purple: #37375e
Dark blue: #356288
Light blue: #aacfdd
Coral: #fe875d
Red: #fe1100
*/

/* Juicy color palette:
Dark: #2a282b
Light blue: #82c3c7
Light yellow: #ebce7d
Orange: #ff4c2d
Red: #c61800
*/
